body {
  background: url('../../img/table.png');
}

.hand {
  height:80vh;
  border: 3px solid red;
  overflow: auto;
}

.card {
  height: 40%;
  width: 40%;
  border: 3px solid blue;
}

.interface {
  height:auto;
  overflow: auto;
  margin: 25px 0px;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
}

/*.card {
  display: inline-block;
  height: auto;
  width: auto;
  max-height: 185px;
  max-width: 132px;
  float: left;
}*/